<div class="container">
    <h1 class="text-center">Book a Flight</h1>
    <form [formGroup]="flightForm">
        <div class="form-group mt-3">
            <label>Full Name : </label><span style="color: red" *ngIf="flightForm.get('fullName')?.errors?.['required']">*</span>
            <input type="text" class="form-control" formControlName="fullName" placeholder="Enter your full-name" />
        </div>
        <div class="row">
            <div class="form-group mt-3 col">
                <label>From : </label><span style="color: red" *ngIf="flightForm.get('from')?.errors?.['required']">*</span>
                <select class="form-select mb-2" formControlName="from">
                  <option value="" selected>From</option>
                  <option value="France">France</option>
                  <option value="India">India</option>
                  <option value="Japan">Japan</option>
                </select>
            </div>
            <div class="form-group mt-3 col">
                <label>To : </label><span style="color: red" *ngIf="flightForm.get('to')?.errors?.['required']">*</span>
                <select class="form-select mb-2" formControlName="to">
                  <option value="" selected>To</option>
                  <option value="Thailand">Thailand</option>
                  <option value="UK">UK</option>
                  <option value="USA">USA</option>
                </select>
            </div>
        </div>
        <div class="flex-date row">
            <div class="col">
                <label>Departure : </label> <span style="color: red" *ngIf="flightForm.get('departure')?.errors?.['required']">*</span><br />
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="departurePicker" formControlName="departure" [min]="minDate" [disabled]="flightForm.value.departure" />
                    <!--[disabled]="flightForm.value.departure"-->
                    <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
                    <mat-datepicker #departurePicker disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <label>Arrival : </label><span style="color: red" *ngIf="flightForm.get('arrival')?.errors?.['required']">*</span> <br />
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="arrivalPicker" formControlName="arrival" [min]="flightForm.value.departure" [disabled]="flightForm.value.arrival" />
                    <!--[disabled]="flightForm.value.arrival"-->
                    <mat-datepicker-toggle matSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
                    <mat-datepicker #arrivalPicker disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <label>Trip Type</label><span style="color: red" *ngIf="flightForm.get('type')?.errors?.['required']">*</span>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="One-way" formControlName="type" />
            <label class="form-check-label">One way</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Return" formControlName="type" />
            <label class="form-check-label">Return</label>
        </div>
        <div class="form-group mt-3">
            <div class="row">
                <div class="col">
                    <label>Adults</label><span style="color: red" *ngIf="flightForm.get('adults')?.errors?.['required']">*</span>

                    <input type="number" class="form-control" formControlName="adults" placeholder="Enter a number" min="0" />
                </div>
                <div class="col">
                    <label>Children</label><span style="color: red" *ngIf="flightForm.get('children')?.errors?.['required']">*</span>
                    <input type="number" class="form-control" formControlName="children" placeholder="Enter a number" min="0" />
                </div>
                <div class="col">
                    <label>Infants</label><span style="color: red" *ngIf="flightForm.get('infants')?.errors?.['required']">*</span>
                    <input type="number" class="form-control" formControlName="infants" placeholder="Enter a number" min="0" />
                </div>
            </div>
        </div><br>
        <button class="btn-lg btn-block btn-primary" type="submit" [disabled]="flightForm.invalid" (click)="onSubmit(flightForm.value)">
      Submit
    </button><br>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Type</th>
                <th scope="col">Departure</th>
                <th scope="col">Arrival</th>
                <th scope="col">Adults</th>
                <th scope="col">Children</th>
                <th scope="col">Infants</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let f of flight">
                <td>{{ f.fullName }}</td>
                <td>{{ f.from }}</td>
                <td>{{ f.to }}</td>
                <td>{{ f.type }}</td>
                <td>{{ f.departure | date: "d MMM y" }}</td>
                <td>{{ f.arrival | date: "d MMM y" }}</td>
                <td>{{ f.adults }}</td>
                <td>{{ f.children }}</td>
                <td>{{ f.infants }}</td>
            </tr>
        </tbody>
    </table>
</div>
